@import "~normalize.css";
//@import "common";
//@import "grid";
@import "~susy/sass/susy";
body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

.primary {
    &-header {
	/* background: blue; */
    }
    &-aside {
	/* font-family: Arial, sans-serif; */
	/* background: red; */
	/* a { */
	/*     text-decoration: none; */
	/* } */
    }
}


